@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
*{
  margin: 0%;
  font-family: Helvetica, Arial, sans-serif;
}
body{
  background-color: rgb(255, 249, 239);
}
.header{
  background-color: rgb(0, 0, 0);
  height: 75px;
  color: white;
  font-family: Helvetica, Arial, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
h1{
  padding-top: 15px;
}
#input{
  width:100%;
  margin-top: 50px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
  text-align: center;
}
*:focus{
  outline: none;
}
#moviename{
  width: 50%;
  height: 30px;
  padding-left: 10px;
  margin-right: 0%;
  border-radius: 15px 0px 0px 15px;
  font-family: 'Comfortaa', cursive;;
}
#button{
  margin-left: -5px;
  background-color: rgb(3, 115, 252);
  color: white;
  font-family: 'Comfortaa', cursive;
  height: 36px;
  border-radius:0px 15px 15px 0px;
}
#display-data{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding-bottom: 20px;
  background-color: rgb(0, 0, 0);
  height:100%;

  display:none;
}
#data{
  width: 100%;
  font-weight: bold;
  color: white;
  padding-top: 10px;
  text-align: center;
  font-size: x-large;
}
.poster-div{
  height:300px;
  width: 200px;
  margin: 0 auto;
}
#poster{
  height: 100%;
  width: 100%;
  border: white 2px solid;
}
.movie-details{
  width: 100%;
  color: white;
  margin-left: 40px;
  margin-top: 30px;
}
.movie-details p{
  margin-top: 10px;
  margin-right: 50px;
}
#footer{
  text-align: center;
  padding-top: 10px;
  width: 100%;
  color:white;
  background-color: rgb(0, 0, 0);
  height: 30px;
  position: fixed;
  bottom: 0;
}
#validator{
  width:54%;
  margin: 0 auto;
  display: none;
}
#validator1{
  color: red;
  float: left;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
}
#error{
  display: none;
  width: 238px;
  margin: 0 auto;
}